.calendar {
  width: 80%;
  /* background-color: red; */
}

.calendar td {
  width: 30px;
  height: 30px;
  text-align: center;
}

.calendar-headers,
.calendar-nav {
  font-weight: bold;
}

#calendar-month {
  text-align: left;
  font-size: large;
}

.calendar-cell-prev,
.calendar-cell-next {
  color: gray;
}

.calendar-cell-selected {
  font-weight: bold;
  background-color: lightsalmon;
  border-radius: 50%;
}
